@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* Slate 900 */

  /* Primary Indigo */
  --primary: #4f46e5;
  /* Indigo 600 */
  --primary-foreground: #ffffff;

  /* Secondary Light Blue/Gray */
  --secondary: #f1f5f9;
  /* Slate 100 */
  --secondary-foreground: #1e293b;
  /* Slate 800 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}